.formik {
  background-color: #1c1c21;
  padding: 2rem;
  height: 20rem;
  width: 22rem;
  display: flex;
  margin: auto;
  align-content: center;
  justify-content: center;
  border-radius: 0.3rem;
}

.inputs {
  margin-bottom: 1rem;
  width: 18rem;
}
