.line-color {
  position: absolute;
  width: 4px;
  height: 60%;
  border-radius: 0.3rem;
  left: 0.625rem;
  top: 20%;
  background-color: #d7da38;
  margin-left: 3px;
}

.widget-content {
  padding: 1rem;
  flex-direction: row;
  align-items: center;
}

.widget-content .widget-content-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
}

.widget-content .widget-content-right .widget-content-actions {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}

.widget-content .widget-content-right {
  margin-left: auto;
}
.widget-content-left {
  width: 70%;
}
.widget-content-right {
  width: 30%;
  display: flex;
  justify-content: end;
  margin: auto;
}
.widget-heading {
  padding-left: 8px;
  margin-left: 3px;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn {
  position: relative;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s,
    box-shadow 0.15s;
  outline: none !important;
}

.btn-see-more {
}
.btn-edit {
}
.btn-delete {
}
