.background {
  background-color: #1f1f1f;
}

.linkHome {
  color: rgb(164, 228, 240);
  font-weight: 700;
  font-size: 1.8rem;
}

.linkNewPost {
  background-color: #1f1f1f;
  border: none;
  color: rgb(164, 228, 240);
  font-weight: 600;
  font-size: 1rem;
}
.linkNewPost:hover {
  background-color: #1f1f1f;
  border: none;
}
